
.footer1{
    background-color: black;
    .button{
        background-color: black;
        border:none;
        color: white;
    }
}

.footer2{
    background-color: black;

    .footer2-child1{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: black;
        
        .footer2-child1-text{
            color: white;
            font-size: 0.15in;
            margin-bottom: 40px;
        }
        .icon{
            color: white;
            margin: auto 6px;
            margin-bottom: 40px;
        }
        .img{
            width: 80px;
            height: 45px;
            margin-bottom: 40px;
        }
    }
    .footer2-child2{
        background-color: black;
        display: flex;
        justify-content: space-around;
        align-items: start;
        

        .footer2-child2-col1{
            flex: 1;
            margin-bottom: 40px;
            .text{
                text-align: start;
                color: white;
                font-size: 0.15in;
            }
        }
        .footer2-child2-col2{
            flex: 2;
            margin-bottom: 40px;
            .text{
                color: white;
                font-size: 0.15in;
            }
        }
        .footer2-child2-col3{
            flex: 1;
            margin-bottom: 40px;
            .text{
                text-align: start;
                color: white;
                font-size: 0.15in;
            }
        }
        .footer2-child2-col4{
            flex: 2;
            margin-bottom: 40px;
            .icon{
                color: white;
                margin: 15px 6px;
            }
            .img{
                width: 80px;
                height: 45px;
            }
            .footer2-child1-text{
                color: white;
                font-size: 0.15in;
            }
        }
    }
}

a{
    text-decoration: none;
}

