
.icon{
    width: 20px;
    height: 20px;
    color: black;
    margin: auto 3px;
}

.login{
    font-weight: 500;
}


.signup{
    font-weight: 500;
    width: 100px;
    border-radius: 50px;
}

.signup:hover{
    background-color: rgb(113, 106, 106);
}